@tailwind base;
@tailwind components;
@tailwind utilities;


html{
   scroll-behavior: smooth;
}

.scroll_bar{
   scrollbar-color: red yellow;
   scrollbar-width: thin;
}

.scroll_bar::-webkit-scrollbar {
  width: 0;
  background-color: transparent; /* or add it to the track */
}